nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

nav > ul > li {
  margin: 0 15px;
}

li > a {
  text-decoration: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.icons {
  display: flex;
  justify-content: space-between;
}
